[Unit]
Description=EMS Service
After=network.target
[Service]
Type=simple
User=root
WorkingDirectory=/root/hw-s-environment-monitoring-system/docker_collect
ExecStart=/usr/bin/python collect.py
Restart=always
[Install]
WantedBy=multi-user.target